# IMPORTANT: Always keep EOL settings in sync with .editorconfig

# Default settings
* text=auto

# Solution files
*.sln text eol=crlf

# Code files
*.cake text eol=crlf diff=csharp
*.cs   text eol=crlf diff=csharp
*.csx  text eol=crlf diff=csharp
*.vb   text eol=crlf
*.vbx  text eol=crlf

# XML project files
*.csproj          text eol=crlf
*.vbproj          text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf
*.proj            text eol=crlf
*.projitems       text eol=crlf
*.shproj          text eol=crlf
*.msbuildproj     text eol=crlf
*.props           text eol=crlf
*.targets         text eol=crlf

# XML config files
*.ruleset      text eol=lf
*.config       text eol=lf
*.nuspec       text eol=lf
*.resx         text eol=lf
*.vsixmanifest text eol=lf
*.vsct         text eol=lf
*.runsettings  text eol=lf

# Other XML files
*.xml text eol=lf
*.svg text eol=lf

# JSON files
*.json text eol=lf

# YAML files
*.yml  text eol=lf
*.yaml text eol=lf

# Shell scripts
*.in text eol=lf diff=bash
*.sh text eol=lf diff=bash

# Windows batch files
*.bat text eol=crlf
*.BAT text eol=crlf
*.cmd text eol=crlf
*.CMD text eol=crlf

# Markdown files
*.md text eol=lf diff=markdown

# InnoSetup files
*.iss text eol=crlf

# Image files
*.jpg  binary
*.png  binary
*.gif  binary
*.webp binary

# Document files
*.pdf binary diff=astextplain
*.PDF binary diff=astextplain
*.rtf binary diff=astextplain
*.RTF binary diff=astextplain
